{% extends "base_wide.html" %}
{% load i18n staticfiles cache wger_extras %}

<!--
        Title
-->
{% block title %}{% trans "Muscle overview" %}{% endblock %}


{% block header %}
<script src="{% static 'js/exercises.js' %}"></script>

<script>
$(document).ready(function() {
    //Prefetch the background images
    {% for muscle in muscle_list|first %}
        wgerPrefetchImages(['/static/images/muscles/main/muscle-' + {{muscle.id}} + '.svg']);
    {% endfor %}
    wgerPrefetchImages(['/static/images/muscles/muscular_system_back.svg']);
    // Hightlight the first element
    wgerHighlightMuscle($('.muscle').first());
    // Highlight on hover
    $('.muscle').hover(function(e) {
        e.preventDefault();
        wgerHighlightMuscle(this);
    });
    // Highlight on click
    var a = document.getElementById("musclesvg");
            // It's important to add an load event listener to the object,
            // as it will load the svg doc asynchronously
            a.addEventListener("load",function(){
                // get the inner DOM of alpha.svg
                var svgDoc = a.contentDocument;
                // get the inner element by id
                var muscle2 = svgDoc.getElementById("muscle2");
                // add behaviour
                muscle2.addEventListener("mouseenter",function(){
                        muscle2.style.fill = "#9D2933"
                        $('.exercise-list').hide();
                        wgerHighlightMuscle($('#musclepiece-2'));
                }, false);
                muscle2.addEventListener("mouseout",function(){
                        muscle2.style.fill = "transparent"
                }, false);
                var muscle4 = svgDoc.getElementById("muscle4");
                muscle4.addEventListener("mouseenter",function(){
                        muscle4.style.fill = "#9D2933"
                        $('.exercise-list').hide();
                        wgerHighlightMuscle($('#musclepiece-4'));
                }, false);
                muscle4.addEventListener("mouseout",function(){
                        muscle4.style.fill = "transparent"
                }, false);
                var muscle1 = svgDoc.getElementById("muscle1");
                muscle1.addEventListener("mouseenter",function(){
                        muscle1.style.fill = "#9D2933"
                        $('.exercise-list').hide();
                        wgerHighlightMuscle($('#musclepiece-1'));
                }, false);
                muscle1.addEventListener("mouseout",function(){
                        muscle1.style.fill = "transparent"
                }, false);
                var muscle14 = svgDoc.getElementById("muscle14");
                muscle14.addEventListener("mouseenter",function(){
                        muscle14.style.fill = "#9D2933"
                        $('.exercise-list').hide();
                        wgerHighlightMuscle($('#musclepiece-14'));
                }, false);
                muscle14.addEventListener("mouseout",function(){
                        muscle14.style.fill = "transparent"
                }, false);
                var muscle10 = svgDoc.getElementById("muscle10");
                muscle10.addEventListener("mouseenter",function(){
                        muscle10.style.fill = "#9D2933"
                        wgerHighlightMuscle($('#musclepiece-10'));
                }, false);
                muscle10.addEventListener("mouseout",function(){
                        muscle10.style.fill = "transparent"
                }, false);
                var muscle3 = svgDoc.getElementById("muscle3");
                muscle3.addEventListener("mouseenter",function(){
                        muscle3.style.fill = "#9D2933"
                        wgerHighlightMuscle($('#musclepiece-3'));
                }, false);
                muscle3.addEventListener("mouseout",function(){
                        muscle3.style.fill = "transparent"
                }, false);
                var muscle6 = svgDoc.getElementById("muscle6");
                muscle6.addEventListener("mouseenter",function(){
                        muscle6.style.fill = "#9D2933"
                        wgerHighlightMuscle($('#musclepiece-6'));
                }, false);
                muscle6.addEventListener("mouseout",function(){
                        muscle6.style.fill = "transparent"
                }, false);
            }, false)

        var b = document.getElementById("bckmusclesvg");

         b.addEventListener("load",function(){
            // get the inner DOM of alpha.svg
            var svgDoc = b.contentDocument;
            // get the inner element by id
            var rmuscle5 = svgDoc.getElementById("rmuscle5");
            // add behaviour
            rmuscle5.addEventListener("mouseenter",function(){
                rmuscle5.style.fill = "#9D2933"
                rmuscle5.style.opacity =0.8
                    $('.exercise-list').hide();
                    wgerHighlightMuscle($('#musclepiece-5'));
            }, false);
            rmuscle5.addEventListener("mouseout",function(){
                rmuscle5.style.fill = "transparent"
            }, false);

            var rmuscle7 = svgDoc.getElementById("rmuscle7");

            rmuscle7.addEventListener("mouseenter",function(){
                rmuscle7.style.fill = "#9D2933"
                rmuscle7.style.opacity = 0.8
                    $('.exercise-list').hide();
                    wgerHighlightMuscle($('#musclepiece-7'));
            }, false);
            rmuscle7.addEventListener("mouseout",function(){
                rmuscle7.style.fill = "transparent"
            }, false);

            var rmuscle8 = svgDoc.getElementById("rmuscle8");

            rmuscle8.addEventListener("mouseenter",function(){
                rmuscle8.style.fill = "#9D2933"
                rmuscle8.style.opacity = 0.8
                    $('.exercise-list').hide();
                    wgerHighlightMuscle($('#musclepiece-8'));
            }, false);
            rmuscle8.addEventListener("mouseout",function(){
                rmuscle8.style.fill = "transparent"
            }, false);

            var rmuscle9 = svgDoc.getElementById("rmuscle9");

            rmuscle9.addEventListener("mouseenter",function(){
                rmuscle9.style.fill = "#9D2933"
                rmuscle9.style.opacity = 0.8
                    $('.exercise-list').hide();
                    wgerHighlightMuscle($('#musclepiece-9'));
            }, false);
            rmuscle9.addEventListener("mouseout",function(){
                rmuscle9.style.fill = "transparent"
            }, false);

            var rmuscle11 = svgDoc.getElementById("rmuscle11");

            rmuscle11.addEventListener("mouseenter",function(){
                rmuscle11.style.fill = "#9D2933"
                rmuscle11.style.opacity = 0.8
                    $('.exercise-list').hide();
                    wgerHighlightMuscle($('#musclepiece-11'));
            }, false);
            rmuscle11.addEventListener("mouseout",function(){
                rmuscle11.style.fill = "transparent"
            }, false);

            var rmuscle12 = svgDoc.getElementById("rmuscle12");

            rmuscle12.addEventListener("mouseenter",function(){
                rmuscle12.style.fill = "#9D2933"
                rmuscle12.style.opacity = 0.8
                    $('.exercise-list').hide();
                    wgerHighlightMuscle($('#musclepiece-12'));
            }, false);
            rmuscle12.addEventListener("mouseout",function(){
                rmuscle12.style.fill = "transparent"
            }, false);

            var rmuscle15 = svgDoc.getElementById("rmuscle15");

            rmuscle15.addEventListener("mouseenter",function(){
                rmuscle15.style.fill = "#9D2933"
                rmuscle15.style.opacity = 0.8
                    $('.exercise-list').hide();
                    wgerHighlightMuscle($('#musclepiece-15'));
            }, false);
            rmuscle15.addEventListener("mouseout",function(){
                rmuscle15.style.fill = "transparent"
            }, false);

            var rmuscle16 = svgDoc.getElementById("rmuscle16");

            rmuscle16.addEventListener("mouseenter",function(){
                rmuscle16.style.fill = "#9D2933"
                rmuscle16.style.opacity = 0.8
                    $('.exercise-list').hide();
                    wgerHighlightMuscle($('#musclepiece-16'));
            }, false);
            rmuscle16.addEventListener("mouseout",function(){
                rmuscle16.style.fill = "transparent"
            }, false);

         }, false)


});
</script>
{% endblock %}


<!--
        Main Content
-->
{% block content %}
{% cache cache_timeout muscle-overview language.id %}
{% trans "Hover with the mouse over the muscles to show corresponding exercises." %}

<div class="row">
    <div class="col-sm-6">
        <h4>{% trans "Front" %}</h4>
        <object data="/static/images/muscles/new_front_muscle.svg" type="image/svg+xml"
         id="musclesvg" ></object>
    </div>
    <div class="col-sm-6">
            <h4 style="padding-bottom:0.5em;">{% trans "Back" %}</h4>
        <object data="/static/images/muscles/back_view.svg" type="image/svg+xml"
         id="bckmusclesvg" ></object>
    </div>
</div>

<div class="row">
    {% comment %} <div class="col-sm-4 col-xs-6">
        <div id="muscle-system"
             class="muscle-background"
             style="background-image: url('/static/images/muscles/muscular_system_front.svg');">
        </div>
    </div> {% endcomment %}
    <div class="col-sm-6 col-xs-6">
        {# Why do we need to use |first? #}
        {% regroup muscle_list|first by is_front as muscle_group %}
        {% for group in muscle_group %}
            {% if group.grouper %}
                <h4>{% trans "Front side" %}</h4>
            {% else %}
                <h4>{% trans "Back side" %}</h4>
            {% endif %}

            <ul class="muscle-list">
            {% for muscle in group.list %}
            <li class="muscle"
                data-target="muscle-{{muscle.id}}"
                id="musclepiece-{{muscle.id}}"
                data-is-front="{{muscle.is_front}}"
                data-name="{{muscle.name}}"
                itemscope itemtype="http://schema.org/Muscle">
                <span itemprop="name">{{muscle.name}}</span>
            </li>
            {% endfor %}
            </ul>
        {% endfor %}
    </div>
    <div class="col-sm-6 col-xs-12">
        {% for muscle in muscle_list|first %}
            <div id="muscle-{{muscle.id}}" style="display:none;" class="exercise-list">
                <h4>{% trans "Exercises" %}</h4>
                <ul class="exercise-overview">
                    {% for exercise in muscle.exercise_set.select_related %}
                    {% if exercise.language in active_languages %}
                    <li class="exercise">
                        <a href="{{exercise.get_absolute_url}}">{{exercise}}</a>
                    </li>
                    {% endif %}
                    {% empty %}
                    <li>
                        <em>{% trans "No exercises that mainly train this muscle" %}</em>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
</div>
{% endcache %}
{% endblock %}


<!--
        Side bar
-->
{% block sidebar %}
{% endblock %}